body {
    text-align: center;
    background-color: aquamarine;
    border: dotted;
    border-color: blue
}

#Roomname {
    font-family: cursive;
    text-decoration-color: blue;
    color: blue;
}

#LogoutButton {
    font-family: cursive;
    text-decoration-color: blue;
    color: blue;
}

#AddroomButton {
    font-family: cursive;
    text-decoration-color: blue;
    color: blue;
}

label {
    font-family: cursive;
    color: blue;
}

#UserNameLoggedIn {
    font-family: cursive;
    text-decoration-color: blue;
    color: blue;
}

h1, h3 {
    font-family: cursive;
    color: blue;
}
